{% extends 'main.html' %}

{% block migration_content %}
    <form action="/migration/article" method="POST">
      <fieldset class="form-group">
        <label for="inputForumId">Forum Id</label>
        <input type="text" class="form-control" name="forumId" id="inputForumId" placeholder="547" required>
        <small class="text-muted">Id du forum que l'on veut migrer</small>
      </fieldset>
      <fieldset class="form-group">
        <label for="inputNbThread">Nombre de sujet</label>
        <input type="text" class="form-control" name="nbThread" id="inputNbThread" placeholder="12">
        <small class="text-muted">Nombre de sujet que l'on veut migrer, laisser vide pour tout migrer.</small>
      </fieldset>
      <button type="submit" class="btn btn-warning">Migrer</button>
    </form>
    <table class="table">
      <thead>
        <tr>
          <th>Forum name</th>
          <th>Forum ID</th>
        </tr>
      </thead>
      <tbody>
        {% for forum in forums %}
          <tr>
            <td>{{forum.title}}</td>
            <td>{{forum.forumId}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}